* {
    font-family: Source Sans Pro;
}

.btn-special, .btn-special:active, .btn-special:visited {
    background-color: #BBBFCA !important;
}
.btn-special:hover {
    background-color: #B5D0A8 !important;
}
.nounderline {
    text-decoration: none !important
  }
.verylightfont {
    font-weight: light !important;
}
ul.my-list li a, ul.nav li a:visited {
    color: #0C1C40 !important;
}

ul.my-list li a:hover, ul.nav li a:active {
    color: #B5D0A8 !important;
    text-decoration: none !important
}

ul.my-list li.active a {
    color: #0C1C40 !important;
}
.text-my-own-color {
    color: #0C1C40 !important;
  }


.hyperlink:link {
    color:#0C1C40 !important;
  }
.hyperlink:visited {
    color: #0C1C40 !important;
  }
.hyperlink:hover {
    color: #B5D0A8 !important;
    text-decoration: none;
  }
.hyperlink:active {
    color: #0C1C40 !important;
  }
.u-strikethrough {
    background-image: linear-gradient(180deg,transparent 70%,#B5D0A8 30%);
}